/* Download File */
.download-file {
    display: flex;
    padding: 25px;
    margin: 25px 0;
    align-items: center;
    background-color: #fff;
    -moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.download-file-iconContainer {
    display: flex;
    margin-right: 16px;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.download-fileWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.download-file-name {
    color: #111;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.download-file-name h3 {
    color: #111 !important;
    font-size: 15px;
    margin: 0;
}

.download-file-link {
    margin-left: auto;
    padding-left: 12px;
}

.download-file-link a {
    display: inline-block;
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #689f38;
    padding: 5px 25px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

.download-file-link:hover a {
    background-color: #8bc34a;
}

@media screen and (max-width: 480px) {
    .download-file,
    .download-fileWrapper {
        flex-wrap: wrap;
    }

    .download-file-iconContainer {
        margin: 0 auto;
    }

    .download-fileWrapper {
        margin-top: 25px;
    }
    .download-file-name {
        text-align: center;
    }
    .download-file-link {
        margin: 0 auto;
        padding-left: 0;
    }
}